@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/*HEADER Y REGLAS*/

body {

    min-height: 100vh;

    background-image: url(background-smoke-color-colors-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin: 0;
}

h1 {
    text-align: center;
	font-size: 3rem;
    color: white;
	margin: 0;
	font-family: sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	background-image: linear-gradient(
		to right,
		orangered,
		orange,
		gold,
		lightgreen,
		cyan,
		dodgerblue,
		mediumpurple,
		hotpink,
		orangered);
	background-size: 110vw;
	animation: sliding 30s linear infinite;
    background-clip: text;
	text-emphasis-color: transparent;
}

@keyframes sliding {
	to {
		background-position: -2000vw;
	}
}

h2 {

    text-shadow: 5px 5px 4px palevioletred, 3px 3px 2px white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.5rem;
    color: black;
    padding: 1rem;
}

main {
    
    text-align: left;
    font-family: sans-serif;
    color: black;
    padding: 0rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    height: 93vh;
}

#rules {
    
    background-image: url(pngtree-color-network-with-dots-on-white-background-image_310198.jpg);
    background-position: relative;
    z-index: 2;
    opacity: 0.8;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.7rem;
}

#button {

    margin: 4rem;

    background: #eb94d0;
    background-image: linear-gradient(top, #eb94d0, #33cc91);
    background-image: linear-gradient(top, #eb94d0, #33cc91);
    background-image: linear-gradient(top, #eb94d0, #33cc91);
    background-image: linear-gradient(top, #eb94d0, #33cc91);
    background-image: linear-gradient(to bottom, #eb94d0, #33cc91);

    border-radius: 28;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9daef5;
    box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;

    font-family: 'Shadows Into Light', cursive;
    font-size: 27px;
    color: #fafafa;
    padding: 19px;
    text-decoration: none;

}

#button:hover {

    background: #2079b0;
  background-image: linear-gradient(top, #33cc91, #eb94d0);
  background-image: linear-gradient(top, #33cc91, #eb94d0);
  background-image: linear-gradient(top, #33cc91, #eb94d0);
  background-image: linear-gradient(top, #33cc91, #eb94d0);
  background-image: linear-gradient(to bottom, #33cc91, #eb94d0);

  text-decoration: none;
}

#dificultad {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    font-size: 40px;
}

a {
    margin: 20px;
    text-decoration:none;
    color:#FFF;
  }
  .rainbow-button {
    width: 7rem;
    height: 6rem;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius:5px;

    display:flex;
    align-items:center;
    justify-content:center;

    text-transform:uppercase;
    font-size:2vw;
    font-weight:bold;
  }
  .rainbow-button:after {
    content:attr(alt);
    width: 5vw;
    height:4vw;
    background-color:#191919;

    display:flex;
    align-items:center;
    justify-content:center;
  }
  .rainbow-button:hover {
    animation:slidebg 2s linear infinite;
  }
  
  @keyframes slidebg {
    to {
      background-position:15vw;
    }
  }

/*ELEMENTOS RGB*/
#RGB {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;

    gap: 2rem;

    text-shadow: -4px 3px 0 #432bcc79, -6px 5px 0 #fafafa;

    font-size: 3rem;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

.cuadradoRGB {
    
    width: 70px;
    height: 60px;
}

/*COLORES*/
#colors {
  
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;
    flex-wrap: wrap;
 

}
.cuadrado {

    border: 2px solid black;
    width: 120px;
    height: 120px;
    margin: 1rem 0rem 2rem 0rem;
}

/*CONTADOR*/
#contador {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    font-size: 2.5rem;
    font-family: 'Indie Flower', cursive;
    color: black;
    text-shadow: -4px 3px 0 #432bcc79, -6px 7px 0 #fafafa;

    gap: 2rem;
}

footer {

    display: flex;
    justify-content: center;
    
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;

}